* {
  margin: 0;
  padding: 0;
}

select, button {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  font-family: var(--ff-mono);
  cursor: pointer;
}

body {
  --ff-mono: 'Cascadia Code', 'Consolas', 'Courier New', monospace;
  --ff-normal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-family: var(--ff-normal);
  margin-bottom: 50vh;
}

#app {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  margin: 2rem auto 2rem 1rem;
}

#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

fieldset {
  padding: 0 0.75rem 0.75rem 0.75rem;
  border-radius: 8px;
  border-color: #2099ff;
}

fieldset legend {
  margin-left: 0.75rem;
}

fieldset div {
  margin: 0.5rem 0;
}

.form-input-length {
  font-size: 0.8rem;
}

#toast-container {
  position: fixed;
  top: 0;
  right: 0;
}

.toast {
  width: 28rem;
  height: 4rem;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0.5rem 0.5rem #00000020);
  overflow: hidden;
  display: flex;
  justify-content: center;
  animation: toast 5s forwards;
}

@keyframes toast {
  0%, 100% {

  }
  10%, 90% {

  }
}

.toast__bar {
  width: 8px;
  background-color: var(--toast-color);
}

.toast__svg-container {
  /* svg parent div */
  margin: 0 0.75rem;
  display: grid;
  place-items: center;  /* this took me 25 minutes to figure out */
}

.toast__text {
  padding: 1rem 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.toast__text p:last-of-type {
  font-size: 80%;
}

.toast__close {
  margin: 0.5rem 0.5rem 0.25rem 1.5rem;
  cursor: pointer;
}

.table-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: var(--ff-mono);
  display: flex;
  flex-direction: column;
}

.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.25rem;
}

.table__header > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.table__header button {
  height: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f4f4f4;
}

table tr:hover {
  background-color: #f0f0f0;
}

table td, table th {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

table td:nth-of-type(1) {
  width: 6ch;
}

table td:nth-of-type(2) {
  width: 28ch;
}

table td:nth-of-type(4) {
  width: 0; /* minimum size */
}
